In [1]:
#Libraries
from main_booking.booking import Booking
from get_data import get_currency,get_location,get_check_in,get_check_out,get_no_of_adults,get_no_of_childrens,get_ages_of_childrens,get_no_of_rooms
import time
import pandas as pd

In [2]:
#Getting Data
cur = get_currency()
loc = get_location()
check_in_date = get_check_in()
check_out_date = get_check_out()
no_of_adults = get_no_of_adults()
no_of_childrens = get_no_of_childrens()
if no_of_childrens!= 0:
    children_ages = get_ages_of_childrens()
no_of_rooms = get_no_of_rooms()
print('Please Wait...\n')
#-------------------------------------
#Bot Launch
try:
    with Booking() as bot:
        bot.open_page()
        bot.select_currency(currency=cur)
        bot.select_location(loc)
        bot.select_dates(check_in=check_in_date,check_out=check_out_date)
        bot.select_adults_childrens_rooms(adults=no_of_adults,childrens=no_of_childrens,rooms=no_of_rooms)
        if no_of_childrens != 0:
            bot.select_children_ages(children_ages)
        bot.submit_search()
        bot.apply_filteration()
        bot.show_report()
except Exception as e:
    print(type(e).__name__)

+---------------------------------------------------------------------------------------------+-------+------+
|                                             Name                                            | Price | Rate |
+---------------------------------------------------------------------------------------------+-------+------+
|                               Chalet At Wahet Al Nakhil resort                              |  468  | 6.6  |
|                                         شاطيء النخيل                                        |  743  | 0.0  |
| Riviera Apartment Montaza Resort Free WIFI -Seaview - Scenic views all Rooms - Housekeeping |  891  | 7.3  |
|                                شقه ڤيو كامل على البحر بميامي                                |  892  | 0.0  |
|              Riviera Suite Montazah Palace - Free WIFI - Seaview - Housekeeping             |  1035 | 5.5  |
|                                 The Grand Plaza Hotel Smouha                                |  1081 | 8.0  |
|                                     Cherry Maryski Hotel                                    |  1106 | 7.3  |
|                      شقه فندقيه مكيفه بانوراما فيو رائع على البحر مباشر                     |  1276 | 2.0  |
|                                  Eastern Al Montazah Hotel                                  |  1196 | 8.5  |
|                             Stanley Bridge apartment Alexandria                             |  1321 | 9.3  |
|                                Sea View Haven In San Stefano                                |  1390 | 8.8  |
|                             Ajami Hotel Armed Forces Apartments                             |  1444 | 5.5  |
|                                   HI Alexandria Apartments                                  |  1576 | 7.5  |
|                            شقة فندقية مكيفة ميامي ع البحر مباشرةً                            |  1761 | 8.3  |
|                                         Fourth star                                         |  1761 | 0.0  |
|                                    Tolip Hotel Alexandria                                   |  1808 | 7.6  |
|                         City Square شقق مكيفة sea view امام the walk                        |  1808 | 0.0  |
|                                   Downtown Sea View Suites                                  |  1854 | 9.0  |
|                                  Stunning Seaview Apartment                                 |  1854 | 5.0  |
|                                Hilton Alexandria Green Plaza                                |  1916 | 7.9  |
|                                  Royal Jewel Al Raml Hotel                                  |  1999 | 8.3  |
|                                      Al Raya Apartments                                     |  2008 | 8.4  |
|                                   Sheraton Montazah Hotel                                   |  2132 | 6.8  |
|                                   Romance Alexandria Hotel                                  |  2163 | 8.2  |
|                                   26th of July Apartments                                   |  2175 | 7.5  |
+---------------------------------------------------------------------------------------------+-------+------+

In [3]:
df = pd.read_csv('Hotels.csv')
df

                                                 Name  Price(EGP)  Rate
0                    Chalet At Wahet Al Nakhil resort         468   6.6
1                                        شاطيء النخيل         743   0.0
2   Riviera Apartment Montaza Resort Free WIFI -Se...         891   7.3
3                       شقه ڤيو كامل على البحر بميامي         892   0.0
4   Riviera Suite Montazah Palace - Free WIFI - Se...        1035   5.5
5                        The Grand Plaza Hotel Smouha        1081   8.0
6                                Cherry Maryski Hotel        1106   7.3
7   شقه فندقيه مكيفه بانوراما فيو رائع على البحر م...        1276   2.0
8                           Eastern Al Montazah Hotel        1196   8.5
9                 Stanley Bridge apartment Alexandria        1321   9.3
10                      Sea View Haven In San Stefano        1390   8.8
11                Ajami Hotel Armed Forces Apartments        1444   5.5
12                           HI Alexandria Apartments        1576   7.5
13             شقة فندقية مكيفة ميامي ع البحر مباشرةً        1761   8.3
14                                        Fourth star        1761   0.0
15                             Tolip Hotel Alexandria        1808   7.6
16       City Square شقق مكيفة sea view امام the walk        1808   0.0
17                           Downtown Sea View Suites        1854   9.0
18                         Stunning Seaview Apartment        1854   5.0
19                      Hilton Alexandria Green Plaza        1916   7.9
20                          Royal Jewel Al Raml Hotel        1999   8.3
21                                 Al Raya Apartments        2008   8.4
22                            Sheraton Montazah Hotel        2132   6.8
23                           Romance Alexandria Hotel        2163   8.2
24                            26th of July Apartments        2175   7.5

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        25 non-null     object
 1   Price(EGP)  25 non-null     int64
 2   Rate        25 non-null     float64
dtypes: float64(1), int64(1), object(1)
memory usage: 732.0+ bytes

In [5]:
df.describe()

        Price(EGP)      Rate
count    25.000000  25.00000
mean   1506.320000   6.13200
std     486.125303   3.13099
min     468.000000   0.00000
25%    1106.000000   5.50000
50%    1576.000000   7.50000
75%    1854.000000   8.30000
max    2175.000000   9.30000